<template>
    <div class="d-flex">
        <sidebar class="side" />
        <div class="v-admin">
            <breadcrumb />
            <div class="administradores mx-6 d-flex flex-column">
                <div class="superior justify-content-between">
                    <h1 class="bold">Administradores CX</h1>
                    <div class="d-flex">
                        <div class="input-container mx-3">
                            <img src="@/assets/Iconos/icon-buscar.svg" alt="">
                            <input type="text" placeholder="Buscar" id="busquedaAdmin">
                        </div>
                        <router-link class="mx-3" :to="{name: 'crearAdministrador'}"><button
                                class="btn btn-principal sombra px-5">Crear
                                administrador</button>
                        </router-link>
                    </div>
                </div>
                <!-- <div class="cuerpo"> -->
                <div class="cuerpo " v-on:click="admins()">
                    <div v-if="noHayAdmin" class="vacio d-flex flex-column justify-content-center align-items-center">
                        <img class="filtro-gris" src="../assets/Iconos/icon-usuario.svg" alt="">
                        <p class="bold">No hay administrador creados</p>
                    </div>
                    <div class="conContenido m-5 d-flex" v-if="!noHayAdmin">
                        <div class="adminTarjeta mx-3 d-flex flex-wrap" v-for="(administrador, idx) in administradores"
                            :key=idx>
                            <router-link :to="{name:'adminDetalle'}" style="text-decoration:none; color:black">
                                <div class="verAdmin mx-2 d-flex flex-column align-items-center">
                                    <img class="imagenAdmin" :src="administrador.imagen" alt="">
                                    <div class="d-flex" style="width:100%">
                                        <div class="linea"></div>
                                        <div class="linea2"></div>
                                    </div>
                                    <h4 class="bold my-3"> {{administrador.nombre}} </h4>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import breadcrumbVue from '@/layouts/breadcrumb.vue'

    export default ({
        components: {
            'breadcrumb': breadcrumbVue
        },
        data() {
            return {
                noHayAdmin: false,
                administradores: [{
                        nombre: 'Daniela Bautista',
                        imagen: '/assets/personas/laura.jpeg',
                    },
                    {
                        nombre: 'Pedro Luna',
                        imagen: '/assets/personas/cristian.jpeg'
                    },
                    {
                        nombre: 'Juliana Pedraza',
                        imagen: '/assets/personas/linda.jpeg'
                    },
                    {
                        nombre: 'Hugo Galan',
                        imagen: '/assets/personas/patricio.jpeg'
                    },
                    {
                        nombre: 'Andrea Gaitan',
                        imagen: '/assets/personas/andrea.jpeg'
                    },
                    {
                        nombre: 'Andrea Gaitan',
                        imagen: '/assets/personas/andrea.jpeg'
                    }

                ]

            }
        },

        methods: {
            admins() {
                console.log(this.noHayAdmin)
                this.noHayAdmin = !this.noHayAdmin
                console.log(this.noHayAdmin)
            }
        }
    })
</script>

<style scoped>
    .side {
        position: fixed;
    }

    .v-admin {
        margin-left: 6rem;
        width: calc(100vw - 8rem);

    }

    .administradores {
        width: 90%;
    }

    .btn-principal {
        background-color: var(--color-principal) !important;
        color: white !important;
    }

    .input-container {
        display: flex;
        justify-content: center;
        background-color: #fff;
        border: solid 1px var(--color-gris-claro);
        border-radius: 20px;
        font-family: 'Gilroy';
    }

    .input-container:focus-within {
        border: solid 2px var(--color-login);
    }

    .input-container>input {
        border: none;
        width: auto;
        margin: 5px;
        width: 9vw;
    }

    .input-container>input:focus {
        outline: none;
    }

    .input-container>img {
        filter: invert(95%) sepia(5%) saturate(182%) hue-rotate(164deg) brightness(97%) contrast(91%);
        margin: 10px;
    }

    .vacio {
        width: 100%;
        height: 70vh;
    }

    .vacio>img {
        height: 15vh;
        width: 15vw;
    }

    .vacio>p {
        margin-top: 40px;
        font-size: 30px;
        color: var(--color-gris);
    }

    .filtro-gris {
        filter: invert(46%) sepia(19%) saturate(379%) hue-rotate(166deg) brightness(91%) contrast(89%);
    }

    .adminTargeta {
        width: 90%;
        height: 10vh;
    }

    .verAdmin {
        cursor: pointer;

    }

    .imagenAdmin {
        width: 80%;
        height: auto;
        margin-bottom: 0.5rem;
    }


    .imagenAdmin:hover {
        box-shadow: 2px 2px 5px #48505B;
    }

    .linea {
        width: 35%;
        margin-top: 10px;
    }

    .linea2 {
        margin-top: 10px;
        width: 15%;
    }

    .linea,
    .linea2 {
        background-color: var(--color-login);
    }
</style>