<template>
    <div class="d-flex">
        <sidebar class="side" />
        <div class="v-admin">
            <breadcrumb />
            <div class="mx-6 w-75 mt-5 d-flex flex-column">
                <div class="d-flex flex-column">
                    <h1 class="bold" style="color:black;">Daniela Marcela Barrera</h1>
                    <div class="d-flex">
                        <div class="linea"></div>
                        <div class="linea2"></div>
                    </div>
                </div>
                <div class="cuerpo my-5 d-flex">
                    <div class="imagenAdmin d-flex flex-column align-items-center">
                        <img src="../assets/personas/andrea.jpeg" alt="">
                        <div class="opciones">
                            <div class="centrar">
                                <img class="agregar filtro-blanco" src="../assets/Iconos/icon-Eliminar.svg" alt="">
                            </div>
                            <div class="centrar">
                                <img class="agregar filtro-blanco" src="../assets/Iconos/icon-editar.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="descripcionAdmin">
                        <h3 class="bolder">Acerca de Daniela</h3>
                        <p class="bold " >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit dignissimos sunt numquam
                            officiis quis cumque harum voluptatum nihil recusandae non, fuga cum dolor vel tempore? Sint
                            est ipsum animi hic facere minima iusto! Tempore ipsam doloremque repellat maxime, amet,
                            incidunt delectus voluptas soluta ipsa eos qui quis id rerum vero?</p>
                        <div class="d-flex mt-5 align-items-center">
                            <img class="mx-3" src="../assets/Iconos/icon-correo.svg" alt="">
                            <p  class=" bold m-0">pedraza.juliana@gmail.com</p>
                        </div>
                        <div class="d-flex my-3 align-items-center">
                            <img class="mx-3" src="../assets/Iconos/icon-telefono.svg" alt="">
                            <p  class="m-0 bold ">+57 300 123 4567</p>
                        </div>
                        <div class="d-flex my-3 align-items-center">
                            <img class="mx-3" src="../assets/Iconos/icon-pass.svg" alt="">
                            <p  class="m-0 bold ">h4t1s8ac5c4v</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    .linea {
        width: 15%;
    }

    .linea,
    .linea2 {
        background-color: var(--color-login);

    }

    .imagenAdmin {
        width: 40%;
        height: 20vh;
    }

    .imagenAdmin>img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .descripcionAdmin {
        width: 40%;
        /* height: 10vh; */
        /* background-color: red; */
    }
</style>