<template>
    <div class="d-flex">
        <sidebar/>
        <div>
            <breadcrumb/>
        </div>
    </div>
</template>
<script>

import breadcrumbVue from '@/layouts/breadcrumb.vue'

export default({
    components:{
        'breadcrumb' : breadcrumbVue
    }
})
</script>
