<template>
    <div class="d-flex">
        <sidebar class="side" />
        <div class="v-admin">
            <breadcrumb />
            <div class="mx-6 w-75 mt-4 d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Crear administrador</h1>
                    <router-link :to="{name:'adminDetalle'}"><button
                            class="btn btn-principal px-5 sombra">Guardar</button>
                    </router-link>
                </div>
                <div class="cuerpo my-4">
                    <form action="" class="d-flex">
                        <div class="derecha d-flex justify-content-around">
                            <div class="imagenAdmin d-flex flex-column align-items-center">
                                <img class="visorImagen" src="" alt="">
                                <span>Anadir imagen</span>
                            </div>
                            <div class="formulario-derecha">
                                <div class="d-flex flex-column my-2">
                                    <label for="">Nombres</label>
                                    <input autocomplete="off" type="text" class="input input-t" name=""
                                        id="nombre.producto" placeholder="Nombre">
                                </div>
                                <div class="d-flex flex-column my-2">
                                    <label for="">Apellidos</label>
                                    <input autocomplete="off" type="text" class="input input-t" name=""
                                        id="nombre.producto" placeholder="Apellidos">
                                </div>
                                <div class="d-flex flex-column my-2">
                                    <label for="">Nombre</label>
                                    <input autocomplete="off" type="text" class="input input-t" name=""
                                        id="nombre.producto" placeholder="Nombre del producto">
                                </div>

                            </div>
                        </div>
                        <div class="izquierda">
                            <div class="formulario-izquierda">
                                <div class="d-flex flex-column align-items-between my-2">
                                    <label for="">Acerca del administrador</label>
                                    <textarea class="input" autocomplete="off" name="" id="" cols="30" rows="5"
                                        placeholder="Detalles del producto"></textarea>
                                    <label for="">Telefono Celular</label>
                                    <input autocomplete="off" type="text" class="input input-t" name=""
                                        id="nombre.producto" placeholder="Telefono Celular">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    .cuerpo {
        width: 100%;
        /* background-color: var(--color-gris-claro); */
    }

    .derecha {
        width: 50%;
        background-color: #fff;
    }

    .izquierda {
        width: 50%;
        height: 100%;
    }

    .visorImagen {
        width: 100%;
        height: 20vh;
        background-color: var(--color-gris-claro);
    }

    .imagenAdmin {
        width: 30%;
    }

    .formulario-derecha {
        width: 50%;
    }

    .imagenAdmin>span {
        position: relative;
        bottom: 10vh;
    }


    .input {
        font-size: 14px;
        font-size: max(14px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        background-color: #fff;
        border: 3px solid var(--color-gris-claro);
        border-radius: 10px;
        transition: 180ms box-shadow ease-in-out;
    }

    .input:not(textarea) {
        line-height: 1;
        height: 2.25rem;
    }


    textarea.input {
        resize: vertical;
        margin-bottom: 10px;
    }

    .input:focus {
        border-color: var(--color-gris);
        /* ...existing styles */
        box-shadow: 0 0 0 1.5px hsla(208, 13%, 45%, 0.8);
        outline: 3px solid transparent;

    }
</style>