<template>
  <div class="d-flex">
    <sidebar class="side" />
    <div class="v-producto">
      <breadcrumb />
      <div>
        <div class="zona-crear mx-6 mt-4 d-flex flex-column">
          <div class="cabecera d-flex justify-content-between align-items-center">
            <h1>Editar producto</h1>
            <router-link :to="{name:'productos'}"><button class="btn btn-principal px-5 sombra">Guardar</button>
            </router-link>
          </div>
          <div class="creacion mt-5">
            <form action="">
              <h3>Información General</h3>
              <div class="d-flex justify-content-between">
                <div class="formulario">
                  <div class="d-flex flex-column my-2">
                    <label for="">Nombre</label>
                    <input autocomplete="off" type="text" class="input input-t" name="" id="nombre.producto"
                      placeholder="Nombre del producto">
                  </div>
                  <div class="d-flex flex-column my-2">
                    <label for="">Categoria</label>
                    <select name="atributo.seleccion" class="input input-t" d="inlineFormCustomSelect">
                      <option value="" disabled selected>seleccione un Categoria</option>
                      <option value="1">Primera opcion</option>
                      <option value="3">Segunda opcion</option>
                      <option value="2">Tercera opcion</option>
                      <option value="4">Cuarta opcion</option>
                    </select>
                  </div>
                  <div class="d-flex flex-column my-2">
                    <label for="">Descripcion</label>
                    <textarea class="input" autocomplete="off" name="" id="" cols="30" rows="5"
                      placeholder="Detalles del producto"></textarea>
                  </div>
                </div>
                <div class="atributos">
                  <div class="d-flex flex-column">
                    <label for="">Añadir Atributo</label>
                    <select name="atributo.seleccion" class="input input-t" id="">
                      <option value="" disabled selected>seleccione un atributo</option>
                      <option value="" v-for="(atributo, idx) in atributos" :key="idx">{{atributo.nombre}}</option>
                    </select>
                  </div>
                  <div class="atributo-seleccionado d-flex flex-column px-3 my-2" v-for="(atributo, idx) in atributos"
                    :key="idx">
                    <div class="cabecera-atributo d-flex justify-content-between px-3 align-items-center my-1">
                      <span class="bold">{{atributo.nombre}}</span>
                      <div class="mb-1">
                        <router-link :to="{name:'prueba'}">
                          <img src="../assets/Iconos/icon-Eliminar.svg" alt="">
                        </router-link>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div v-for="(cp, idxc) in atributo.contenidos" :key="idxc" class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">
                          {{ cp }}
                        </label>
                      </div>
                      <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck1">
                          41
                        </label>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="cargar imagenes my-5 flex-column">
                <div class="d-flex justify-content-between align-items-center w-50">
                  <h3 class="bold">Imagenes</h3>
                  <input type="file" name="file" class="input-agregar" @change="imagenElegida" id="file">
                  <label for="file" class="btn-agregar sombra d-flex justify-content-center align-items-center">
                    <!-- <button class="btn btn-primary" v-on:click="agregarImagen()" type="button"> -->
                    <img src="../assets/Iconos/icon-añadir.svg" class="agregar" alt="">
                    <!-- </button> -->
                  </label>
                </div>
                <div class="check-insert-atributo d-flex flex-column mt-4">
                  <div>
                    <label class="form-check-label" for="check-atributo">
                      <input type="checkbox" v-on:click="activo=!activo" class="form-check-input" name=""
                        id="check-atributo"> A partir de
                      atributo</label>
                  </div>
                  <div class="d-flex flex-column my-4 w-50">
                    <select :disabled="!activo" name="atributo.seleccion" class="input input-t" id="">
                      <option value="" disabled selected>seleccione un atributo</option>
                      <option value="" v-for="(atributo, idx) in atributos" :key="idx">{{atributo.nombre}}</option>
                    </select>
                  </div>
                </div>
                <!-- Vista de imagenes cargadas sin estar en algun atributo -->
                <div class="visor-imagenes-cargadas w-50" v-if="!activo">
                  <div>
                    <div class="img-subir">
                      <img v-if="url" :src="url" alt="">
                      <div class="opciones" v-if="url!=null">
                        <div class="centrar">
                          <img class="agregar" src="../assets/Iconos/icon-Eliminar.svg" alt="">
                        </div>
                        <div class="centrar">
                          <img class="agregar" src="../assets/Iconos/icon-editar.svg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <transition name="fade">
                  <div class="visor-imagenes-atributo" v-if="activo">
                    <div v-for="(imagen, idx) in pruebaImagenes" :key="idx">
                      <!-- <span> {{atributo.nombre}} </span> -->
                      <div class="d-flex justify-content-between w-50 my-4" v-for="(color, idx) in imagen.colores"
                        :key="idx">
                        <h2 class="bolder"> {{color}} </h2>
                        <label for="file" class="btn-agregar sombra d-flex justify-content-center align-items-center">
                          <!-- <button class="btn btn-primary" v-on:click="agregarImagen()" type="button"> -->
                          <img src="../assets/Iconos/icon-añadir.svg" class="agregar" alt="">
                          <!-- </button> -->
                        </label>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        activo: false,
        url: null,
        atributos: [{
            nombre: 'Talla Tenis',
            contenidos: [40, 41, 42]

          },
          {
            nombre: 'Colores Solares',
            contenidos: ['Iron Metallic', 'Core Black', 'Cloud White']
          },
          {
            nombre: 'Textil',
            contenidos: ['Cuero', 'Sintetico', 'MultiLayer']
          }
        ],
        pruebaImagenes: [{
          nombre: 'Colores Solares',
          colores: ['Iron Metallic', 'Core Black', 'Cloud White']
        }]
      }
    },
    methods: {
      agregarImagen() {
        return console.log('enviado');
      },
      imagenElegida(e) {
        const file = e.target.files[0];
        this.url = URL.createObjectURL(file);
      }
    }
  }
</script>

<style scoped>
  .superior {
    width: auto !important;
  }

  .side {
    position: fixed;
  }

  .bold {
    font-weight: bold;
  }

  .bolder {
    font-family: 'Gilroy-Bold';
  }


  .v-producto {
    margin-left: 6rem;
    width: calc(100vw - 7rem);

  }

  .formulario,
  .atributos {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .zona-crear {
    width: 60vw
  }

  h1,
  h3 {
    font-family: 'Gilroy';
    font-weight: bolder;
    color: black;

  }


  .input {
    font-size: 14px;
    font-size: max(14px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 3px solid var(--color-gris-claro);
    border-radius: 10px;
    transition: 180ms box-shadow ease-in-out;
  }

  .input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
  }


  textarea.input {
    resize: vertical;
  }

  .input:focus {
    border-color: var(--color-gris);
    /* ...existing styles */
    box-shadow: 0 0 0 1.5px hsla(208, 13%, 45%, 0.8);
    outline: 3px solid transparent;

  }

  .atributo-seleccionado {
    height: auto;
    width: 100%;
    font-size: 14px;
    font-size: max(14px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 3px solid var(--color-gris-claro);
    border-radius: 10px;
    transition: 180ms box-shadow ease-in-out;
  }

  .cabecera-atributo {
    width: 95%;
    border-bottom: 2px solid var(--color-gris-claro);
  }

  .agregar {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%);
  }

  .btn-primary {
    background-color: var(--color-principal);
    border: none;
  }


  .input-agregar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .btn-agregar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-principal);
    border-radius: 5px;
  }

  .btn-agregar:hover {
    cursor: pointer;
  }

  .sombra {
    box-shadow: 1px 1px 3px gray;
  }

  .sombra:hover {
    box-shadow: 1px 1px 5px #48505B;
  }

    .opciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 35px;
    /* background-color: #555; */
    position: relative;
    bottom: 65px;
  }

  .opciones>div {
    background-color: rgba(0, 0, 0, 0.8);
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  .opciones>div:hover {
    cursor: pointer;
  }

  .img-subir>img {
    height: 150px;
    width: 150px;
    background-position: center;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }
</style>