<template>
    <div class="d-flex">
        <sidebar class="side" />
        <div class="v-producto">
            <!-- breadcrumb -->
            <breadcrumb />
            <!-- Vista detalle -->
            <div class="detalle d-flex my-4 mx-6">
                <!-- Cabecera producto detalle -->
                <div class="titulo d-flex justify-content-between">
                    <h1 class="tres-puntos">Guayos Predator FREAK.3</h1>
                    <div class="opciones">
                        <div class="centrar sombra">
                            <router-link :to="{name:'editarProducto'}">
                                <img class="agregar filtro-blanco" src="../assets/Iconos/icon-editar.svg" alt="">
                            </router-link>
                        </div>
                        <div class="centrar sombra" @click="funcional">
                            <img class="agregar filtro-blanco" src="../assets/Iconos/icon-Eliminar.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="cuerpo d-flex my-4 justify-content-between">
                    <div class="img-producto">

                    </div>
                    <div class="desc-producto d-flex flex-column">
                        <div class="categoria my-3">
                            <h3 class="bold">Zapatillas</h3>
                            <div class="d-flex ">
                                <div class="linea"></div>
                                <div class="linea2"></div>
                            </div>
                        </div>
                        <div class="atributo-select my-5 d-flex flex-column">
                            <h3 class="bold">Tallas tenis:</h3>
                            <div class="d-flex">
                                <div class="form-check">
                                    <label class="form-check-label mx-1">
                                        <input class="form-check-input" type="checkbox">uno
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label mx-1">
                                        <input class="form-check-input" type="checkbox">uno
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label mx-1">
                                        <input class="form-check-input" type="checkbox">uno
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="atributo-colores d-flex flex-column ">
                            <div class="d-flex align-items-center">
                                <h3 class="bold">Colores solares:</h3>
                                <p class="m-0 mx-3">Iron Metallic</p>
                            </div>
                            <div class="colores-select d-flex">
                                <div class="iron-metallic mx-2">
                                    <div>
                                        <img class="mini" src="../assets/Imágenes de productos/guayos.jpg" alt="">
                                    </div>
                                    <div class="d-flex my-2 justify-content-evenly">
                                        <div class="lineaColor"></div>
                                        <div class="lineaColor2"></div>

                                    </div>
                                </div>
                                <div class="core-black mx-2">
                                    <div>
                                        <img class="mini" src="../assets/Imágenes de productos/guayos.jpg" alt="">
                                    </div>
                                    <div class="d-flex my-2 justify-content-evenly">
                                        <div class="lineaColor"></div>
                                        <div class="lineaColor2"></div>

                                    </div>
                                </div>
                                <div class="cloud-white mx-2">
                                    <div>
                                        <img class="mini" src="../assets/Imágenes de productos/guayos.jpg" alt="">
                                    </div>
                                    <div class="d-flex my-2 justify-content-evenly">
                                        <div class="lineaColor"></div>
                                        <div class="lineaColor2"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-5 flex-column">
                            <h3 class="bold">Descripcion</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi odit neque iure, dolorem
                                doloribus repudiandae in amet autem animi corrupti.</p>
                        </div>
                    </div>
                </div>
                <div class="z-cantidad my-5 d-flex flex-column">
                    <h2 class="bolder">Precio por cantidad</h2>
                    <div class="my-4">
                        <form action="" class="">
                            <div class="d-flex align-items-end">
                                <div class="mx-2">
                                    <label class="mx-3 bold" for="cantidadProd">Cantidad</label>
                                    <input type="text"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                        class="form-control" id="cantidadProd" placeholder="Cantidad">
                                </div>
                                <div class="mx-2">
                                    <label class="mx-3 bold" for="precioProd">Precio</label>
                                    <input type="text" class="form-control" id="precioProd" placeholder="Precio">
                                </div>
                                <div class="mx-4">
                                    <button type="button" class="btn btn-primary"><img class="filtro-blanco"
                                            src="../assets/Iconos/icon-añadir.svg" alt=""></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="precioCantCreados my-4">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BreadCrumb from '../layouts/breadcrumb.vue'
    export default {
        components: {
            'breadcrumb': BreadCrumb
        },
        methods: {
            funcional() {
                console.log('funciona');
            }
        },
        data() {
            return {
                atributosProductos: [{
                        nombre: 'Talla Tenis:',
                        contenido: [40, 41, 42]
                    },
                    {
                        nombre: 'Colores Solares',
                        contenido: ['Iron Metallic', 'Core Black', 'Cloud White']
                    }
                ]
            }
        }
    }
</script>

<style>
    .superior {
        width: auto !important;
    }

    .side {
        position: fixed;
    }


    .v-producto {
        margin-left: 6rem;
        width: calc(100vw - 7rem);

    }

    .detalle {
        width: 80vw;
        flex-direction: column;
    }

    .titulo {
        width: 100%;
    }

    .tres-puntos {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .opciones {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
        height: 35px;
    }

    .opciones>div {
        background-color: var(--color-principal);
        height: 40px;
        width: 40px;
        border-radius: 5px;
    }

    .opciones>div:hover {
        cursor: pointer;
    }

    .cuerpo {
        width: 100%;
        height: 80vh;
    }

    .img-producto {
        width: 45%;
        /* height: 60vh; */
        background-color: var(--color-gris);
    }

    .desc-producto {
        width: 40%;
        height: 100px;
        /* background-color: var(--color-principal); */
    }

    .z-cantidad {
        width: 60%;
        height: auto;
    }

    .linea {
        height: 5px;
        width: 30%;
        border-radius: 5px;
        background-color: var(--color-principal);
    }

    .linea2 {
        height: 5px;
        width: 3%;
        border-radius: 5px;
        background-color: var(--color-principal);
        position: relative;
        left: 10px;
    }

    .lineaColor {
        height: 5px;
        width: 60%;
        border-radius: 5px;
        background-color: var(--color-login);
    }

    .lineaColor2 {
        height: 5px;
        width: 15%;
        border-radius: 5px;
        background-color: var(--color-login);
    }


    .iron-metallic,
    .core-black,
    .cloud-white {
        height: 100px;
        width: 100px;
    }


    .iron-metallic:hover,
    .core-black:hover,
    .cloud-white:hover {
        cursor: pointer;
    }

    .mini {
        height: auto;
        width: 95%;
    }
</style>