<template>
    <div class="d-flex">
        <sidebar class="side" />
        <div class="v-producto">
            <!-- breadcrumb de ubicacion -->
            <div class="superior">
                <div class="posicion"><a class="hyper" href="/"> {{obtenerLocacion()}} </a>
                    <span> <img src="../assets/Iconos/icon-chevron.svg"
                            style="transform:rotate(270deg); margin-left:0.6rem;" alt=""></span>
                    <a class="hyper-selected tres-puntos" v-show="seeAdmin" href=""> {{admin}} </a>
                </div>
            </div>
            <!-- zona de productos -->
            <div class="zona-productos mx-6 mt-3 d-flex flex-column">
                <div class="cabecera d-flex justify-content-between align-items-center">
                    <h1>Productos CX</h1>
                    <router-link to="/productos/crear"><button class="btn btn-principal sombra px-5">Crear producto</button>
                    </router-link>
                </div>
                <div class="productos">
                    <item-prod />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Producto from '@/components/Producto.vue'

    export default {
        components: {
            'item-prod': Producto
        },
        data() {
            return {
                ubicacion: '',
                path: '',
                admin: 'Juliana Pedraza',
                seeAdmin: false
            }
        },
        methods: {
            obtenerLocacion() {
                return this.ubicacion;
            }
        },
        created() {
            this.path = this.$router.currentRoute.path;
            this.ubicacion = this.path.slice(1);
        }
    }
</script>

<style>
    .side {
        position: fixed;
    }

    .v-producto {
        margin-left: 6rem;
        width: calc(100vw - 8rem);

    }

    .superior {
        margin: 0;
        height: 6rem;
        /* background-color: var(--color-principal); */
        display: flex;
        align-items: flex-end;
    }

    .posicion {
        /* display: flex; */
        margin-left: 3rem;
        /* flex-wrap: wrap; */
    }

    .mx-6 {
        margin-left: 4rem;
        margin-right: 3rem;
    }

    .hyper,
    .hyper-selected {
        color: var(--color-principal);
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
        margin-left: 1rem;
    }

    .hyper-selected {
        color: var(--color-gris);
        font-weight: normal
    }

    .hyper-selected:hover {
        font-weight: bold;
        color: var(--color-gris);
    }

    .tres-puntos {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .cabecera>h1 {
        font-family: 'Gilroy';
        font-weight: bolder;
    }

    .btn-principal {
        background-color: var(--color-principal) !important;
        color: white !important;
    }
</style>