<template>
    <loading />
</template>

<script>
import LoadingScreen from '../components/Loading'

    export default {
        components:{
            'loading' : LoadingScreen
        }
    }
</script>

<style>

</style>