<template>
    <div class="contenedor">
        <div class="headCategoria my-5">
            <h1>Categorias</h1>
            <a class="crearCategoria" href="">Crear Categoria</a>
        </div>
        <div class="bodyCategoria">
            <div class="categoria my-2">
                <div class="icono-categoria">
                    <img src="../assets/Iconos/Icon - camiseta.svg" alt="">
                </div>
                <h3>Camiseta</h3>
                <div class="acciones">
                    <a href=""><img src="../assets/Iconos/icon - editar.svg" alt=""></a>
                    <a href=""><img src="../assets/Iconos/icon - Eliminar.svg" alt=""></a>
                    <span class="contador">0</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
// import { defineComponent } from '@vue/composition-api'

export default({
    name: 'categorias',
    setup() {
        
    },
})
</script>


<style scoped>
    .contenedor {
        display: flex;
        flex-direction: column;
        width: calc(100vw-6rem);
    }

    .headCategoria {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 6rem;
    }

    h1 {
        font-weight: bold;
        margin: 0;
    }

    .crearCategoria {
        text-decoration: none;
        color: white;
        width: 20%;
        height: 2.5rem;
        background-color: var(--color-principal);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .bodyCategoria {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-left: 8rem;
    }

    .categoria {
        display: flex;
        flex-direction: row;
        width: 60%;
        /* justify-content: space-evenly; */
        align-items: center;
    }

    .acciones {
        width: 10rem;
        margin: auto;
        /* background-color: var(--color-gris-claro); */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .acciones>a {
        display: inherit;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: var(--color-principal);
        border-radius: 5px;
    }

    .acciones>a>img{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%);
    }

    .contador {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-gris-claro);
        border-radius: 5px;
    }

    .icono-categoria {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background-color: var(--color-gris-claro);
        border-radius: 30px;
    }

    .icono-categoria>img {
        height: 38px;
        width: 38px;
        /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%); */
    }

    .categoria>h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
        margin-left: 2rem;
    }
</style>