<template>
  <div class="d-flex justify-content-center align-items-center carga-centro">
    <img class="a" src="../assets/Logos/logo - productos 1.svg" alt="">
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped>
  .carga-centro {
    height: 100vh;
    width: 100vw;
  }

  .a {
    animation: pulse 1.5s linear infinite;
  }

  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
</style>