<template>
    <div class="contenedor">
        <div class="d-flex flex-wrap">
            <div class="item-producto centrar d-flex m-3 flex-column align-items-center" v-for="producto in productos"
                :key="producto.nombre" v-on:click="$router.push('/productos/detalle')">
                <img class="img-producto" :src="producto.imagen" alt="">
                <div class="cont-icono centrar"><img class="icono" :src="producto.icono"
                        alt="">
                </div>
                <span class="nomb-producto my-2"> {{producto.nombre}} </span>
                <span class="precio"> {{producto.precio}} </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                productos: [{
                        nombre: 'Predator FREAK.3',
                        icono: '/assets/Iconos/icon-zapatillas.svg',
                        imagen: '/assets/Imágenes de productos/guayos.jpg',
                        precio: '$138.000'

                    },
                    {
                        nombre: 'Camiseta Bayern Munich',
                        icono: '/assets/Iconos/icon-camiseta.svg',
                        imagen: '/assets/Imágenes de productos/camiseta.png',
                        precio: '$183.000'
                    },
                    {
                        nombre: 'Balon Premier League',
                        icono: '/assets/Iconos/icon-futbol.svg',
                        imagen: '/assets/Imágenes de productos/balon.jpg',
                        precio: '$120.000 - $150.000'
                    },
                    {
                        nombre: 'Raqueta Tenis Wilson',
                        icono: '/assets/Iconos/icon-producto.svg',
                        imagen: '/assets/Imágenes de productos/raqueta.jpg',
                        precio: '$487.000'
                    },
                    {
                        nombre: 'Botella agua',
                        icono: '/assets/Iconos/icon-termo.svg',
                        imagen: '/assets/Imágenes de productos/botella.jpg',
                        precio: '$37.000 - $42.000'
                    },
                    {
                        nombre: 'Pelotas Tenis',
                        icono: '/assets/Iconos/Icon-tenis.svg',
                        imagen: '/assets/Imágenes de productos/pelota-tenis.jpg',
                        precio: '$67.000'
                    }

                ]
            }
        }
    }
</script>

<style scoped>
    .contenedor {
        margin: 3rem 0rem 0rem 1rem;
    }

    .item-producto {
        height: 210px;
        width: 205px;
        position: relative;
    }

    .img-producto {
        height: 120px;
        width: 120px;
    }

    .centrar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont-icono {
        background-color: var(--color-gris-claro);
        height: 38px;
        width: 38px;
        border-radius: 19px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .icono {
        filter: invert(47%) sepia(11%) saturate(631%) hue-rotate(166deg) brightness(91%) contrast(92%);
    }

    .nomb-producto {
        font-weight: bolder;
    }

    .precio {
        border-radius: 3px;
        color: white;
        font-weight: bold;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        background-color: var(--color-principal);
    }

    .precio:hover {
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    /* .item-producto:hover {
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    } */
</style>