<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
  #app {
    font-family: 'Gilroy';
  }

  .side {
    position: fixed;
  }

  .v-admin,
  .v-producto {
    margin-left: 6rem;
    width: calc(100vw - 8rem);
  }

  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mx-6 {
    margin-left: 4rem;
    margin-right: 3rem;
  }

  .filtro-blanco {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%);
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url('../src/assets/fonts/Gilroy-Light.otf') format("opentype");
  }

  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('../src/assets/fonts/Gilroy-ExtraBold.otf') format("opentype");
  }

  .sombra {
    box-shadow: 1px 1px 3px gray;
  }

  .sombra:hover {
    box-shadow: 1px 1px 5px #48505B;
  }


  .bold {
    font-weight: bold;
  }

  .bolder {
    font-family: 'Gilroy-Bold';
  }

  :root {
    font-family: 'Gilroy';
    --color-principal: #57A0FF;
    --color-fondo: #F6F9FB;
    --color-blanco: #fff;
    --color-login: #002351;
    --color-gris-claro: #DFE4E8;
    --color-gris: #637381;
    --color-verde: #2ABA39;
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }
</style>