<template>
    <div class="superior">
        <div class="posicion"><a class="hyper" href="/"> {{obtenerLocacion()}} </a>
            <span> <img src="../assets/Iconos/icon-chevron.svg" style="transform:rotate(270deg); margin-left:0.6rem;"
                    alt=""></span>
            <a class="hyper-selected tres-puntos" v-show="seeAdmin" href=""> {{admin}} </a>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Bread',
        data() {
            return {
                ubicacion: '',
                path: '',
                admin: 'Juliana Pedraza',
                seeAdmin: false
            }
        },
        methods: {
            obtenerLocacion() {
                return this.ubicacion;
            },
            //error al intentar crear la version 2
            // verificacion(){
            //     if(this.path)
            // }
        },
        created() {
            this.path = this.$router.currentRoute.path;
            this.ubicacion = this.path.slice(1);
        }
    }
</script>

<style>
    .superior {
        margin: 0;
        height: 6rem;
        width:auto;
        /* background-color: var(--color-principal); */
        display: flex;
        align-items: flex-end;
    }

    .posicion {
        /* display: flex; */
        margin-left: 3rem;
        /* flex-wrap: wrap; */
    }

    .hyper,
    .hyper-selected {
        color: var(--color-principal);
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
        margin-left: 1rem;
    }

    .hyper-selected {
        color: var(--color-gris);
        font-weight: normal
    }

    .hyper-selected:hover {
        font-weight: bold;
        color: var(--color-gris);
    }

    .tres-puntos {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>