<template>
<!-- Creo un contenedor fluido para poder usar el ancho total de la pantalla y le asigno -->
    <div class="container-fluid d-flex justify-content-center" id="login">
        <form class="form-signin">
            <img class="mb-5" src="@/assets/Logos/logo - productos 1.svg" fill="var(--gris-claro)" alt="Logo Produtcx">
            <h1 class="h3 mb-3">Iniciar sesión</h1>
            <div class="input-container mb-3">
                <img src="@/assets/Iconos/icon-usuario.svg" alt="">
                <input type="text" v-model="email" required placeholder="Usuario" id="username">
                <img id="validado" v-bind:style="[valido==true ? {'visibility':'visible'} : {'visibility':'hidden'}]" src="@/assets/Iconos/icon-check-simple.svg" alt="">
            </div>
            <div class="input-container justify-content-start">
                <img src="@/assets/Iconos/icon-pass.svg" alt="">
                <input type="password" class="" placeholder="Contraseña" required>
                <!-- <img src="@/assets/Iconos/icon-check-simple.svg" style="visibility: hidden;" alt=""> -->
            </div>
            <!-- solucion al problema de envio de formulario https://stackoverflow.com/questions/61576194/form-submission-canceled-because-the-form-is-not-connected-vue-js-with-laravel -->
            <button type="submit" class="btn btn-primary custom-btn mt-4" v-on:click="$router.push('productos')">Ingresar</button>
        </form>
    </div>

</template>
<script>
        // import { defineComponent } from '@vue/composition-api'

        export default({
            data() {
                return{
                    email:'',
                    valido: false
                }
            },
            watch:{
                email(value){
                    this.email = value;
                    this.validarEmail(value);
                }
            },
            methods:{
                validarEmail(value){
                    if(/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value)){
                        this.valido=true
                    }else{
                        this.valido=false
                    }
                }
            }
        })
    
</script>
<style>
    #login {
        background-image: url('../assets/Imágenes de productos/productos - Login.png');
        background-position: center;
        background-size: cover;
        height: 100vh;
        text-align: center;
        /* align-items: center; */
    }

    .form-signin {
        margin-top: 100px;
        width: 30vw;
    }
     @media (max-width: 900px) {
         .form-signin{
             width: auto;
         }
     }

    .input-container {
        display: flex;
        justify-content: center;
        background-color: #fff;
        border: solid 1px var(--color-gris-claro);
        border-radius: 10px;
        font-family: 'Gilroy';
    }

    .input-container:focus-within{
        border: solid 2px var(--color-login);
    }

    .input-container>input {
        border: none;
        width: auto;
        margin: 5px;
        width: 25vw;
    }

    .input-container>input:focus {
        outline: none;
    }

    .input-container>img {
        filter: invert(95%) sepia(5%) saturate(182%) hue-rotate(164deg) brightness(97%) contrast(91%);
        margin: 10px;
    }

    .input-container>#validado{
        filter: invert(86%) sepia(73%) saturate(5086%) hue-rotate(71deg) brightness(94%) contrast(79%);
        /* margin: 10px; */
    }

    .input-container:focus-within>img{
        filter: invert(13%) sepia(20%) saturate(5951%) hue-rotate(196deg) brightness(93%) contrast(107%);
    }
    .input-container:focus-within>#validado{
        filter: invert(86%) sepia(73%) saturate(5086%) hue-rotate(71deg) brightness(94%) contrast(79%);
    }

    .custom-btn{
        width: 30vw;
        font-family: 'Gilroy';
    }

    h1 {
        font-family: 'Gilroy-Bold';
        font-weight: 700;
        color: var(--color-login);
    }
</style>