<template>
    <div>
        <div class="sidebar">
            <div class="logo my-5" v-on:click="$router.push({name:'productos'})">
                <img src="../assets/Logos/logo - productos 2.svg">
            </div>
            <div>
                <div class="boton">
                    <div v-bind:class=" 'productos'==this.ubicacion ? 'activo' : 'inactivo' " id="productos">
                        <router-link :to="{name: 'productos'}"><img src="../assets/Iconos/icon-producto.svg" height="22px"
                                width="22px" alt=""></router-link>
                    </div>
                    <p>Productos</p>
                </div>
                <div class="boton">
                    <div v-bind:class=" 'admin'==this.ubicacion ? 'activo' : 'inactivo' " id="admin">
                        <router-link :to="{name: 'admin'}"><img src="../assets/Iconos/icon-usuario.svg" height="22px" width="22px"
                                alt=""></router-link>
                    </div>
                    <p>Admin</p>
                </div>
                <div class="boton">
                    <div v-bind:class=" 'configuracion'==this.ubicacion ? 'activo' : 'inactivo' " id="configurar">
                        <router-link :to="{name: 'configuracion'}"><img src="../assets/Iconos/icon-configurar.svg" height="22px"
                                width="22px" alt=""></router-link>
                    </div>
                    <p ref="">Configurar</p>
                </div>
            </div>
            <div class="inferior mb-4">
                <div class="usuario my-5">
                    <a style="display:flex; flex-direction:column; align-items:center" href="">
                        <img src="../assets/personas/calvo.png" height="36" width="36" alt="">
                        <img style="margin-top:10px;" src="../assets/Iconos/icon-chevron.svg" height="5px" alt="">
                    </a>
                </div>
                <div class="logo">
                    <img src="../assets/Logos/coex-logo.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <router-view/>
        </div>
    </div>
</template>

<script>
    import Item from '../components/Item.vue'
    export default {
        name: 'SideBar',
        components: {
            Item
        },
        data() {
            return {
                locacion: '',
                ubicacion: ''
            }
        },
        methods: {
            mostrarUbicacion() {
                console.log(document.getElementsByClassName("comp")[0].id)
            }
        },
        created() {
            this.locacion = this.$router.currentRoute.path;
            this.ubicacion = this.locacion.slice(1);
        }
    }
</script>

<style>
    .sidebar {
        margin: 0;
        height: 100vh;
        width: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-grow: 1;
        flex-wrap: wrap; */
        font-family: 'Gilroy';
        color: var(--color-gris);
        justify-content: flex-start;
        box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    .logo {
        /* margin-top: 80px; */
        width: 44px;
    }

    .boton {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        /* background-color: #57A0FF; */
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        font-size: .9rem;
        font-weight: bold;
    }

    .boton>div {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .activo {
        background-color: var(--color-principal);
    }

    .activo>a {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%);
    }

    .inactivo>a {
        filter: invert(46%) sepia(19%) saturate(379%) hue-rotate(166deg) brightness(91%) contrast(89%);
    }

    .inactivo:hover {
        background-color: var(--color-principal);
        box-shadow: 1.5px 1px 2px 1px rgba(0, 0, 0, 0.2);

    }

    .inactivo:hover>a {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(102%);

    }

    p {
        margin-top: 0.1rem;
        /* padding: 0; */
    }

    .inferior {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    .usuario {
        width: auto;
    }
</style>